header {
    width: 100%;
    margin-top: 10%;
    text-align: center;
    color: #f1034f;
}

header h3 {
    display: inline-block;
}

ul li {
    text-decoration: none;
    list-style-type: none;
    margin: auto;
    width: 50%;
    height: auto;
}

.img_search,
.text_search {
    width: 70%;
    height: fit-content;
    background-color: #abc;
    margin-bottom: 10px;
    margin: auto;
    align-items: center;
}

form {
    margin: auto;
    display: flex;
    padding-bottom: 25px;
    padding-top: 20px;
}

form div {
    display: block;
    width: 100%;
}

input {
    margin-right: 25px;
}